/** Made by Nolan Takeshita in 2015 for the Berkeley JACL **/

/*** general ***/

body {
    margin: 0;
    width: 100%;
    background-color: #E3E3E3;
}

.block {
    margin: 0;
}

section {
    padding: 1%;
}

h2 {
    position: relative;
    font-family: 'Poiret One';
    letter-spacing: 2px;
    font-size: 5vmin;
    margin: 2%;
}

.wording {
    margin: 2%;
    font-family: 'Source Sans Pro';
    font-size: 3vmin;
}

/*** header content ***/

#logo {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    padding: .5%;
    height: 6vh;
    float: left;
}

#bjacl {
    position: fixed;
    z-index: 11;
    float: left;
}

#menu_bar {
    height: 2.5vh;
    font-size: 2vmin;
    position: fixed;
    width: 100%;
    padding: 1.5% 0;
    background-color: #800000;
    text-align: right;
    z-index: 10;
}

.menu {
    margin-right: 1vw;
    padding: 3vh .5vw;
    font-family: 'Raleway';
    font-size: vh;
    letter-spacing: .05vw;
}

.menu > a {
    text-decoration: none;
    color: white;
    padding: 1%;
}


.menu:hover {
    background-color: #CB7D82;
}

/*** splash welcome ***/

#splash_berkeley {
    display: block;
    background-image: url("content/berkeley.jpg");
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
}

#splash_welcome {
    background-color: rgba(0,0,0,.5);
    padding: 1%;
    position: absolute;
    max-height: 50vh;
    width: 90%;
    overflow: hidden;
    top: 40%;
    margin: 0 2.5%;
    color: white;
    font-family: 'Montserrat';
}

#welcome {
    font-size: 10vh;
    padding-bottom: 1%;
}

#welcome_supp {
    font-size: 5vh;
}


/*** mission ***/

#join {
    text-align: center;
    padding: 1%;
}

/*** about ***/

#about {
    background-color: #993333;
    color: white;
}

/*** board ***/


#board_header {
    text-align: center;
}

#splash_board {
    display: block;
    background-image: url("content/board.png");
    background-repeat: no-repeat;
    height: 75vh;
    width: 100vw;
    background-attachment: fixed;
}

#board_gallery {
    margin-left: 6%;
    padding-bottom: 2%;
}

#board_instructions {
    text-align: center;
}

.board_pic {
    position: relative;
    width: 22%;
    padding: 1%;
    z-index: 1;
    float: left;
}

/*** membership ***/

#membership_header {
    clear: both;
}

#membership_wording {
    text-align: center;
}

#membership_button {
    text-align: center;
    margin: 1% 0;
}

#membership_link {
    text-decoration: None;
    text-align: center;
    width: 5%;
    padding: 1% 3%;
    background-color: #800000;
    font-family: 'Raleway';
    color: white;
    font-size: 175%;
    background-color: #800000;
}
