body {
    margin: 0;
    width: 100%;
    background-color: #E3E3E3;
}

.block {
    margin: 0;
}

section {
    padding: 1%;
}

h2 {
    position: relative;
    font-family: 'Poiret One';
    letter-spacing: 2px;
    font-size: 2em;
    margin: 2%;
}

.wording {
    margin: 2%;
    font-family: 'Source Sans Pro';
    font-size: 110%;
}

/*** header content ***/

#logo {
    position: fixed;
    z-index: 11;
    margin-left: 0;
    padding: .5%;
    height: 7%;
    max-height: 100px;
    max-width: 100px;
    min-height: 25px;
    min-width: 25px;
    float: left;
}

#bjacl {
    position: fixed;
    z-index: 11;
    float: left;
}

#menu_bar {
    position: fixed;
    width: 100%;
    padding: 1.5%;
    background-color: #800000;
    text-align: right;
    z-index: 10;
}

.menu {
    font-family: 'Raleway';
    font-size: .9em;
    padding: 1.5% 1%;
    letter-spacing: 1px;
    margin-right: 1.5%;
}

.menu > a {
    text-decoration: none;
    color: white;
    padding: 1%;
}


.menu:hover {
    background-color: #CB7D82;
}

/*** splash welcome ***/

#splash_berkeley {
    display: block;
    background-image: url("content/berkeley.jpg");
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
}

#welcome {
    background-color: rgba(0,0,0,.5);
    padding: 1%;
    position: absolute;
    top: 40%;
    margin: 0 2.5%;
    font-size: 4em;
    color: white;
    font-family: 'Montserrat';
}

#welcome_supp {
    background-color: rgba(0,0,0,.5);
    padding: 1%;
    width: 90%;
    position: absolute;
    font-size: 1em;
    top: 55%;
    margin: 0 2.5%;
    font-size: 2em;
    color: white;
    font-family: 'Montserrat';
}


/*** mission ***/

#join {
    text-align: center;
    padding: 1%;
}

/*** about ***/


/*** board ***/

/*
#about {
    background-color: #800000;
    color: white;
}
*/

#splash_board {
    display: block;
    background-image: url("content/board.png");
    background-repeat: no-repeat;
    height: 75vh;
    background-attachment: fixed;
}

#board_gallery {
    margin-left: 6%;
    padding-bottom: 2%;
}

#board_instructions {
    text-align: center;
    font-size: 125%;
}

.board_pic {
    position: relative;
    width: 22%;
    padding: 1%;
    z-index: 1;
    float: left;
}

/*** membership ***/

#membership_header {
    clear: both;
}

#membership_wording {
    text-align: center;
}

#membership_button {
    text-align: center;
    margin: 1% 0;
}

#membership_link {
    text-decoration: None;
    text-align: center;
    width: 5%;
    padding: 1% 3%;
    background-color: #800000;
    font-family: 'Raleway';
    color: white;
    font-size: 175%;
    background-color: #800000;
}
