/** Made by Nolan Takeshita in 2015 for the Berkeley JACL **/

/*** general ***/

body {
    margin: 0;
    width: 100%;
    background-color: #E3E3E3;
}

section {
    padding: 1%;
}

h2 {
    position: relative;
    font-family: 'Poiret One';
    letter-spacing: 2px;
    font-size: 125%;
    margin: 2%;
}

.wording {
    margin: 2%;
    font-family: 'Source Sans Pro';
    font-size: 100%;
}

/*** header content ***/

#logo {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    height: 7.5%;
    float: left;
}

#bjacl {
    position: fixed;
    z-index: 11;
    float: left;
}

#menu_bar {
    height: 2.5vh;
    font-size: 2vmin;
    position: fixed;
    width: 100%;
    padding: 1.5% 0;
    background-color: #800000;
    text-align: right;
    z-index: 10;
}

.menu {
    margin-right: 1vw;
    padding: 3vh .5vw;
    font-family: 'Raleway';
    font-size: 100%;
    letter-spacing: .1%;
}

.menu > a {
    text-decoration: none;
    color: white;
    padding: 1%;
}


.menu:hover {
    background-color: #CB7D82;
}

/*** splash welcome ***/

#splash_berkeley {
    display: block;
    background-image: url("content/berkeley.jpg");
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
}

#splash_welcome {
    background-color: rgba(0,0,0,.5);
    padding: 1%;
    position: absolute;
    max-height: 50vh;
    width: 90%;
    overflow: hidden;
    top: 30vh;
    margin: 0 2.5%;
    color: white;
    font-family: 'Montserrat';
}

#welcome {
    font-size: 9vh;
    padding-bottom: 1%;
}

#welcome_supp {
    font-size: 4vh;
}


/*** mission ***/

#mission {
    background-color: #993333;
    color: white;
}

#join {
    text-align: center;
    padding: 1%;
}

/*** about ***/

#mission {
    background-color: #993333;
    color: white;
}

/*** board ***/

#board {
    background-color: #993333;
    color: white;
}

#board_header {
    text-align: center;
}

#splash_board {
    background-image: url("./content/boardcrop.png");
    background-repeat: no-repeat;
    background-size: 100vw auto;
    width: 100vw;
    min-height: 80vmin;
    background-attachment: fixed;
}

#board_instructions {
    text-align: center;
}

.gallery_img {
    display: table-cell;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    text-align: center;
}

.gallery_txt {
    position: relative;
    color: white;
    visibility: hidden;
    top: 40%;
    font-size: 125%; 
    font-family: 'Source Sans Pro';
}

.gallery_row {
    margin-left: 1vmin;
    display: table;
    width: 100%;
    border-spacing: 2vmin;
    table-layout: fixed;
}

#michael {
    background-image: url('./content/board-gallery/michael.JPG');
}

#paul {
    background-image: url('./content/board-gallery/paul.JPG');
}

#gordon {
    background-image: url('./content/board-gallery/gordon.JPG');
}

#tak {
    background-image: url('./content/board-gallery/tak.JPG')
}

#carolyn {
    background-image: url('./content/board-gallery/carolyn.JPG');
}

#jim {
    background-image: url('./content/board-gallery/jim.JPG')
}

#mark {
    background-image: url('./content/board-gallery/mark.JPG');
}

#howard {
    background-image: url('./content/board-gallery/howard.JPG');
}

#vera {
    background-image: url('./content/board-gallery/vera.JPG')
}

#neal {
    background-image: url('./content/board-gallery/neal.JPG');
}

#al {
    background-image: url('./content/board-gallery/al.JPG');
}

#ron {
    background-image: url('./content/board-gallery/ron.JPG')
}


/*** membership ***/

#membership_header {
    clear: both;
}

#membership_wording {
    text-align: center;
}

#membership_button {
    text-align: center;
    margin: 1% 0;
}

#membership_link {
    text-decoration: None;
    text-align: center;
    width: 5%;
    padding: 1% 3%;
    background-color: #800000;
    font-family: 'Raleway';
    color: white;
    font-size: 175%;
    background-color: #800000;
}


/*** contact ***/

#contact {
    background-color: #993333;
    color: white;
}

#contact_links > a{
    color: white;
}