/** Made by Nolan Takeshita in 2015 for the Berkeley JACL **/

/*** general ***/

body {
    margin: 0;
    width: 100%;
    background-color: #E3E3E3;
}

section {
    padding: 1%;
}

h2 {
    position: relative;
    font-family: 'Poiret One';
    letter-spacing: 2px;
    font-size: 175%;
    margin: 2%;
}

.wording {
    margin: 2%;
    font-family: 'Source Sans Pro';
    font-size: 100%;
}

hr {
    width: 95vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.anchor {
    visibility: hidden;
}


/*** header content ***/

#menu_bar {
    font-size: 2vmin;
    position: fixed;
    width: 100%;
    height: 2vh;
    max-height: 75px;
    padding: 3vh 0;
    background-color: #800000;
    text-align: right;
    z-index: 10;
}

#menu_bar > span {
    position: absolute;
    height: 100%;
    max-height: 75px;
    min-width: 50%;
    text-align: left;
    top: 0;
    left: 0;
}

#logo {
    position: relative;
    z-index: 11;
    height: 100%;
    left: 0;
}

#bjacl {
    position: absolute;
    top: 25%;
    font-family: 'Raleway';
    font-size: 120%;
    color: white;
}

#menu {
    position: absolute;
    top: 10%;
    right: 0;
    height: 100%;
}

#menu li {
    display: inline;
    vertical-align: center;
    padding: 3vh 0;
}

#menu li:hover a {
    color: gray;
}

#menu li a {
    text-decoration: none;
    color: white;
    font-size: 120%;
    padding: 2vh 1vw;
    font-family: 'Raleway';
}

#menu_alt_icon {
    position:absolute;
    display: none;
    font-size: 3vh;
    color: white;
    right: 2%;
    top: 35%;
}

#menu_alt {
    position: absolute;
    display: none;
    list-style-type: none;  
    padding: 0;
    text-align: left;   
    background-color: white;
    width: 100%;
    top: 0vh;
}


#menu_alt li a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 200%;
    font-family: 'Raleway';
    width: inherit;
    padding: 1% 1%;
}

#menu_alt li:hover {
    background-color:gray;
}

#menu_alt li {
    border-bottom: 1px solid gray;
}

#menu_alt li:last-child{
    border: none;
}

/*** splash welcome ***/

#splash_berkeley {
    display: block;
    background: url("content/berkeley.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
}

#splash_welcome {
    background-color: rgba(0,0,0,.5);
    padding: 1%;
    position: absolute;
    max-height: 50vh;
    width: 90%;
    overflow: scroll;
    top: 30vh;
    margin: 0 2.5%;
    color: white;
    font-family: 'Montserrat';
}

#welcome {
    font-size: 6.5vh;
    padding-bottom: 1%;
}

#welcome_supp {
    font-size: 3.5vh;
}


/*** mission ***/

#join {
    text-align: center;
    padding: 1%;
}

/*** about ***/

/*** board ***/

#board_header {
    text-align: center;
}

#splash_board {
    background: url('content/board-cropped.jpg') 100% no-repeat;
    margin: 0px;
    height: 50vh;
    display: block;
    background-attachment: fixed;
    background-position: center center; 
}

#board_instructions {
    text-align: center;
}

.gallery_img {
    display: table-cell;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40vh;
    text-align: center;
}

.gallery_txt {
    position: relative;
    color: white;
    visibility: hidden;
    text-align: center;
    top: 40%;
    width: 100%;
    font-size: 120%; 
    font-family: 'Source Sans Pro';
}

.gallery_row {
    margin-left: 1vmin;
    display: table;
    width: 100%;
    border-spacing: 2vmin;
    table-layout: fixed;
}


/* Note: Multiple IDs used to make compatible with Javascript darkening
of photos on hover. */

#michael {
    background-image: url('./content/board-gallery/michael.JPG');
}

#paul {
    background-image: url('./content/board-gallery/paul.JPG');
}

#gordon {
    background-image: url('./content/board-gallery/gordon.JPG');
}

#tak {
    background-image: url('./content/board-gallery/tak.JPG')
}

#carolyn {
    background-image: url('./content/board-gallery/carolyn.JPG');
}

#jim {
    background-image: url('./content/board-gallery/jim.JPG')
}

#mark {
    background-image: url('./content/board-gallery/mark.JPG');
}

#howard {
    background-image: url('./content/board-gallery/howard.JPG');
}

#vera {
    background-image: url('./content/board-gallery/vera.JPG')
}

#neal {
    background-image: url('./content/board-gallery/neal.JPG');
}

#al {
    background-image: url('./content/board-gallery/al.JPG');
}

#ron {
    background-image: url('./content/board-gallery/ron.JPG')
}

/*** friends ***/

#jccnc {
    background-image: url('./content/jcccnc.jpg')
}


/*** contact ***/

.icon {
    margin-right: 3vw;
}

.icon:hover {
    color: #A64D4D;
}

.fa-facebook {
    color: #800000;
}

.fa-twitter {
    color: #800000;
}

.fa-youtube-play {
    color: #800000;
}

.fa-dropbox {
    color: #800000;
}

/* Footer */
.footer {
    font-size: 75%;
}
